# Ignore node_modules. It will be installed in the container.
node_modules

# Ignore files and directories that are not needed in the container.
.git
.gitignore
.dockerignore
Dockerfile
README.md
LICENSE
.travis.yml
.eslintrc
.eslintignore
Session.vim
.taskmaster
